page-login {

    #content{
        background: #E8E7E3;
    }
    #logo{
        width: 226px;
    height: 65px;
    margin: auto;
    margin-top: 16%;
    margin-bottom: 16%;
    }

    .item-ios {
        padding-left: 16px;
        padding-left: 16px;
        border-radius: 12px;
        position: relative;
        font-size: 1.5rem;
        color: #000;
        background-color: #fff;
        -webkit-transition: background-color 200ms linear;
        transition: background-color 200ms linear;
        margin-top: 10%;
    }
    .btn-valider{
        background: #E8461C;
        margin: auto;
        padding-right: 20%;
        padding-left: 20%;
    }
    #creecompte{
        background: #48413f;
        padding-right: 12%;
        padding-left: 12%;
    }
}
