page-recapitulatif-contrat {
    .cont {
        margin-bottom: 5%;
        margin-top: 5%;
    }
    .item-ios {
        padding-left: 16px;
        padding-left: 16px;
        border-radius: 86px;
        position: relative;
        font-size: 1.7rem;
        color: #000;
        background-color: #fff;
        -webkit-transition: background-color 200ms linear;
        transition: background-color 200ms linear;
    }
    .select-ios .select-icon {
        visibility: hidden;
    }
    ion-select {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    max-width: 100%;
}
}