<ion-content padding style="background: #E8E7E3">



    <header [text]="'Ajouter un Article'"></header>




    <div class="cont">


        <div class="myspan">
            <span class="title">Veuillez saisir le nom du produit </span><br>

        </div>
        <form (ngSubmit)="valider()" [formGroup]="nomForm">
            <div class="myrow">
                <ion-row>
                    <ion-col col-9>
                        <ion-input type="text" [(ngModel)]="nom" formControlName="nom"></ion-input>
                    </ion-col>
                    <ion-col>
                        <div class="mic" *ngIf="!isRecording">
                            <ion-icon (click)="startListening()" class="myicon" name="mic"></ion-icon>
                        </div>
                        <div class="mic0" *ngIf="isRecording">
                            <ion-icon (click)="stopListening()" class="myicon0" name="mic"></ion-icon>
                        </div>
                    </ion-col>
                </ion-row>
            </div>
            <div class="btn">
                <ion-row>
                    <ion-col col-3>

                    </ion-col>
                    <ion-col style=" text-align: center;">
                        <button style="color:#FFF;background-color:#6d6864;width: 100%; " [disabled]="!nom" type="reset" ion-button round>Effacer</button>

                    </ion-col>
                    <ion-col col-3>

                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col style=" margin-top: auto;" col-3>

                    </ion-col>
                    <ion-col style=" text-align: center;">
                        <button style="color:#FFF;background-color:#E44F26  ;   width: 100%;" type="submit" [disabled]="nomForm.invalid" (click)="valider()" ion-button round>Valider</button>

                    </ion-col>
                    <ion-col col-3>

                    </ion-col>
                </ion-row>
                <div class="footer">
                    <ion-row>
                        <ion-col style=" margin-top: auto;" col-1>

                        </ion-col>
                        <ion-col col-5>
                            <img style="width:3em" src="assets/imgs/left.png " (click)="Previous()" alt="img ">

                        </ion-col>
                        <ion-col col-5 style="text-align: end;">
                            <img style="width:3em" src="assets/imgs/right.png " (click)="Next()" alt="img ">

                        </ion-col>
                        <ion-col col-1>

                        </ion-col>
                    </ion-row>
                </div>
            </div>
        </form>
    </div>




</ion-content>