<ion-content padding style="background: #E8E7E3">
    <header [text]="'Mes Reminders'"></header>

    <div class="container">


        <div id="remA">
            <span class="title">Mes Articles</span>
        </div>

        <ion-row>
            <ion-col>
                <div class="quote-item">
                    <em>
                                        <strong>  20 j </strong>
                                        </em>
                    <div style="width:100px;margin:0 auto;">
                        <img style="border-radius:100%" src="assets/rem/home_button.png" class="garantie--valid" />


                        <div class="indice" style="top: 12px;left: 80px;">
                            <a><i class="ion-checkmark" ></i></a>
                            <!--  <a><i class="ion-close-round" ng-if="!getGarantie(article.dAchat,article.garantie)"></i></a> -->
                        </div>
                    </div>
                    <span><strong class="product--name" >aaa</strong></span>
                </div>
            </ion-col>
            <ion-col>
                <div class="quote-item">
                    <em>
                                <strong>  20 j </strong>
                                </em>
                    <div style="width:100px;margin:0 auto;">
                        <img style="border-radius:100%" src="assets/rem/home_button.png" class="garantie--valid" />


                        <div class="indice" style="top: 12px;left: 80px;">
                            <a><i class="ion-checkmark" ></i></a>
                            <!--  <a><i class="ion-close-round" ng-if="!getGarantie(article.dAchat,article.garantie)"></i></a> -->
                        </div>
                    </div>
                    <span><strong class="product--name" >aaa</strong></span>
                </div>
            </ion-col>
            <ion-col>
                <div class="quote-item">
                    <em>
                                    <strong>  20 j </strong>
                                    </em>
                    <div style="width:100px;margin:0 auto;">
                        <img style="border-radius:100%" src="assets/rem/home_button.png" class="garantie--valid" />


                        <div class="indice" style="top: 12px;left: 80px;">
                            <a><i class="ion-checkmark" ></i></a>

                        </div>
                    </div>
                    <span><strong class="product--name" >aaa</strong></span>
                </div>
            </ion-col>
        </ion-row>


        <div id="remA">
            <span class="title">Mon contraits et Abonnement</span>
        </div>

        <ion-row>
            <ion-col>
                <div class="quote-item">
                    <em>
                                            <strong>  20 j </strong>
                                            </em>
                    <div style="width:100px;margin:0 auto;">
                        <img style="border-radius:100%" src="assets/rem/home_button.png" class="garantie--valid" />


                        <div class="indice" style="top: 12px;left: 80px;">
                            <a><i class="ion-checkmark" ></i></a>
                            <!--  <a><i class="ion-close-round" ng-if="!getGarantie(article.dAchat,article.garantie)"></i></a> -->
                        </div>
                    </div>
                    <span><strong class="product--name" >aaa</strong></span>
                </div>
            </ion-col>
            <ion-col>
                <div class="quote-item">
                    <em>
                                    <strong>  20 j </strong>
                                    </em>
                    <div style="width:100px;margin:0 auto;">
                        <img style="border-radius:100%" src="assets/rem/home_button.png" class="garantie--valid" />


                        <div class="indice" style="top: 12px;left: 80px;">
                            <a><i class="ion-checkmark" ></i></a>
                            <!--  <a><i class="ion-close-round" ng-if="!getGarantie(article.dAchat,article.garantie)"></i></a> -->
                        </div>
                    </div>
                    <span><strong class="product--name" >aaa</strong></span>
                </div>
            </ion-col>
            <ion-col>
                <div class="quote-item">
                    <em>
                                        <strong>  20 j </strong>
                                        </em>
                    <div style="width:100px;margin:0 auto;">
                        <img style="border-radius:100%" src="assets/rem/home_button.png" class="garantie--valid" />


                        <div class="indice" style="top: 12px;left: 80px;">
                            <a><i class="ion-checkmark" ></i></a>

                        </div>
                    </div>
                    <span><strong class="product--name" >aaa</strong></span>
                </div>
            </ion-col>
        </ion-row>
    </div>





</ion-content>