<ion-content padding style="background: #E8E7E3">
    <header [text]="'Mes PRODUITS'"></header>

    <div class="container">


        <div id="remA">
            <span class="title">Mes Articles</span>
        </div>
        <ion-slides #slider spaceBetween="10" slidesPerView="3">


            <ion-slide *ngFor="let art of MyArticle ; let i index ">
                <div class="quote-item" *ngIf="art.days < 0">
                    <em class="myem">
                                        <strong>  {{art.days}} J </strong>
                                        </em>
                    <div style="width:100px;margin:0 auto;">
                        <img (load)="dismissLoading()" (click)="GoToProduitDetail(art.id,art.enseigne,art.marque,art.nom,art.dachat,art.garantie,art.photo,art.facture,art.dfin,art.sav,art.days)" style="border-radius:100%" src="{{art.photo}}" class="garantie--invalid" />


                        <div class="indice" style="top: 12px;left: 80px;">
                            <a><i class="ion-checkmark" ></i></a>

                        </div>
                    </div>
                    <span><strong class="product--name" >{{art.nom}}</strong></span>
                </div>
                <div class="quote-item" *ngIf="art.days > 0">
                    <em class="myem0">
                                        <strong>  {{art.days}} J </strong>
                                        </em>
                    <div style="width:100px;margin:0 auto;">
                        <img (load)="dismissLoading()" (click)="GoToProduitDetail(art.id,art.enseigne,art.marque,art.nom,art.dachat,art.garantie,art.photo,art.facture,art.dfin,art.sav,art.days)" style="border-radius:100%" src="{{art.photo}}" class="garantie--valid" />


                        <div class="indice" style="top: 12px;left: 80px;">
                            <a><i class="ion-checkmark" ></i></a>

                        </div>
                    </div>
                    <span><strong class="product--name" >{{art.nom}}</strong></span>
                </div>
            </ion-slide>

        </ion-slides>



        <div id="remA">
            <span class="title">Mes contrats et Abonnement</span>
        </div>

        <ion-slides #slider spaceBetween="10" slidesPerView="3">
            <ion-slide *ngFor="let cont of MyContrat ; let i index ">
                <div class="quote-item" *ngIf="cont.days < 0">
                    <em class="myem">
                                        <strong>  {{cont.days}} J </strong>
                                        </em>
                    <div style="width:100px;margin:0 auto;">
                        <img (load)="dismissLoading()" (click)="GoToContratDetail(cont.id,cont.decheance,cont.photo,cont.type ,cont.days)" src="{{cont.photo}}" class="garantie--invalid" />


                        <div class="indice" style="top: 12px;left: 80px;">
                            <a><i class="ion-checkmark" ></i></a>

                        </div>
                    </div>
                    <span><strong class="product--name" >{{cont.type}}</strong></span>
                </div>
                <div class="quote-item" *ngIf="cont.days > 0">
                    <em class="myem0">
                                        <strong>  {{cont.days}} J</strong>
                                        </em>
                    <div style="width:100px;margin:0 auto;">
                        <img (load)="dismissLoading()" (click)="GoToContratDetail(cont.id,cont.decheance,cont.photo,cont.type,cont.days)" src="{{cont.photo}}" class="garantie--valid" />


                        <div class="indice" style="top: 12px;left: 80px;">
                            <a><i class="ion-checkmark" ></i></a>

                        </div>
                    </div>
                    <span><strong class="product--name" >{{cont.type}}</strong></span>
                </div>
            </ion-slide>



        </ion-slides>
    </div>





</ion-content>