page-mes-produits {
    #logo {
        width: 10em;
        height: 3em;
        margin: auto;
        margin-top: 5%;
        margin-bottom: 2%;
    }
    #rem {
        margin: auto;
        text-align: center;
        letter-spacing: 2px;
        color: #E44F26;
        font-size: 1.1em;
        line-height: 1.5em;
    }
    .tri {
        border: solid 0.4px;
        border-color: #a6a6a67a;
    }
    .icon-munu {
        padding: 10%
    }
    p {
        text-align: center;
        margin-top: 0px;
    }
    .icon-resau {
        max-width: 74%;
    }
    .header-menu {
        width: 120px;
        margin: 0 auto;
    }
    #remA {
        border-radius: 5%;
        background-color: white;
        height: 40px;
        display: table;
        width: 100%;
        margin: 15px 0;
    }
    #remA span,
    .empty span {
        display: table-cell;
        vertical-align: middle;
        /* left: 20px; */
        position: relative;
        line-height: 1.5em;
        text-align: center;
    }
    .title {
        font-size: 18px;
        font-family: 'Dosis', sans-serif;
        color: #4a3f3f;
        letter-spacing: 0.08em;
    }
    .garantie--valid {
        border: 3px solid green;
    }
    .garantie--invalid {
        border: 3px solid red;
    }
    .myem0 {
        text-align: center;
        display: block;
        color: green;
        margin-bottom: 10px;
        font-size: 18px;
    }
    .myem {
        text-align: center;
        display: block;
        color: red;
        margin-bottom: 10px;
        font-size: 18px;
    }
    .quote-item h4,
    .quote-item2 h4 {
        text-align: center;
        margin-bottom: 0px;
    }
    .quote-item strong,
    .quote-item2 strong {
        text-align: center;
        font-style: normal;
        font-weight: 400;
        display: block;
        /*  width: 250px; */
        margin-left: auto;
        margin-right: auto;
    }
    .quote-item img {
        /*border-radius:100px;*/
        position: relative;
        /*	border: 2px solid green;*/
        width: 100px;
        height: 100px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
    .quote-item2 img {
        width: 100px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
    h3,
    .product--name {
        font-size: 16px;
        margin-bottom: 10px;
        font-weight: 800;
        color: #292929;
        text-transform: capitalize;
    }
    .indice--valid {
        background-color: green;
    }
    .indice--notvalid {
        background-color: red;
    }
    .indice {
        position: absolute;
        top: 0;
        right: 0;
        margin: -10px;
        height: 20px;
        width: 20px;
    }
    .indice a {
        color: white;
        text-align: center;
        width: 20px;
    }
}