<ion-content padding style="background: #E8E7E3">
    <ion-row>
        <img id="logo" src="/assets/login/logo.png" alt="">
    </ion-row>
    <ion-row>
        <h4 id="rem">Mes Reminders</h4>
    </ion-row>
    <ion-row>
        <ion-col col-6>
            <div style="float: right;
            display: table;">
                <img style="   width: 3em;" src="../../assets/rem/home_button.png">
                <p>Acceil</p>

            </div>
        </ion-col>
        <ion-col col-6>

            <div style="
            display: table;">
                <img style="float: right;    width: 3em;" src="../../assets/rem/menu_button.png">
                <p>menu</p>
            </div>


        </ion-col>
    </ion-row>

    <div class="container">


        <div id="remA">
            <span class="title">Mes Articles</span>
        </div>

        <ion-row>
            <ion-col>
                <div class="quote-item">
                    <em>
                                        <strong>  20 j </strong>
                                        </em>
                    <div style="width:100px;margin:0 auto;">
                        <img style="border-radius:100%" src="../../assets/rem/home_button.png" class="garantie--valid" />


                        <div class="indice" style="top: 12px;left: 80px;">
                            <a><i class="ion-checkmark" ></i></a>
                            <!--  <a><i class="ion-close-round" ng-if="!getGarantie(article.dAchat,article.garantie)"></i></a> -->
                        </div>
                    </div>
                    <span><strong class="product--name" >aaa</strong></span>
                </div>
            </ion-col>
            <ion-col>
                <div class="quote-item">
                    <em>
                                <strong>  20 j </strong>
                                </em>
                    <div style="width:100px;margin:0 auto;">
                        <img style="border-radius:100%" src="../../assets/rem/home_button.png" class="garantie--valid" />


                        <div class="indice" style="top: 12px;left: 80px;">
                            <a><i class="ion-checkmark" ></i></a>
                            <!--  <a><i class="ion-close-round" ng-if="!getGarantie(article.dAchat,article.garantie)"></i></a> -->
                        </div>
                    </div>
                    <span><strong class="product--name" >aaa</strong></span>
                </div>
            </ion-col>
            <ion-col>
                <div class="quote-item">
                    <em>
                                    <strong>  20 j </strong>
                                    </em>
                    <div style="width:100px;margin:0 auto;">
                        <img style="border-radius:100%" src="../../assets/rem/home_button.png" class="garantie--valid" />


                        <div class="indice" style="top: 12px;left: 80px;">
                            <a><i class="ion-checkmark" ></i></a>

                        </div>
                    </div>
                    <span><strong class="product--name" >aaa</strong></span>
                </div>
            </ion-col>
        </ion-row>


        <div id="remA">
            <span class="title">Mon contraits et Abonnement</span>
        </div>

        <ion-row>
            <ion-col>
                <div class="quote-item">
                    <em>
                                            <strong>  20 j </strong>
                                            </em>
                    <div style="width:100px;margin:0 auto;">
                        <img style="border-radius:100%" src="../../assets/rem/home_button.png" class="garantie--valid" />


                        <div class="indice" style="top: 12px;left: 80px;">
                            <a><i class="ion-checkmark" ></i></a>
                            <!--  <a><i class="ion-close-round" ng-if="!getGarantie(article.dAchat,article.garantie)"></i></a> -->
                        </div>
                    </div>
                    <span><strong class="product--name" >aaa</strong></span>
                </div>
            </ion-col>
            <ion-col>
                <div class="quote-item">
                    <em>
                                    <strong>  20 j </strong>
                                    </em>
                    <div style="width:100px;margin:0 auto;">
                        <img style="border-radius:100%" src="../../assets/rem/home_button.png" class="garantie--valid" />


                        <div class="indice" style="top: 12px;left: 80px;">
                            <a><i class="ion-checkmark" ></i></a>
                            <!--  <a><i class="ion-close-round" ng-if="!getGarantie(article.dAchat,article.garantie)"></i></a> -->
                        </div>
                    </div>
                    <span><strong class="product--name" >aaa</strong></span>
                </div>
            </ion-col>
            <ion-col>
                <div class="quote-item">
                    <em>
                                        <strong>  20 j </strong>
                                        </em>
                    <div style="width:100px;margin:0 auto;">
                        <img style="border-radius:100%" src="../../assets/rem/home_button.png" class="garantie--valid" />


                        <div class="indice" style="top: 12px;left: 80px;">
                            <a><i class="ion-checkmark" ></i></a>

                        </div>
                    </div>
                    <span><strong class="product--name" >aaa</strong></span>
                </div>
            </ion-col>
        </ion-row>
    </div>





</ion-content>