page-home {

    #logo{
        width: 226px;
    height: 65px;
    margin: auto;
    margin-top: 16%;
    margin-bottom: 16%;
    }
    .tri{
        border: solid 0.4px;
        border-color: #a6a6a67a;
    }
    .icon-munu{
        padding: 10%
    }
    p{
        text-align: center;
        margin-top: 0px;
    }
    .icon-resau{     
    max-width: 74%;
    }
}
