<!--
  Generated template for the DetailProduitPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content padding style="background: #E8E7E3">
    <header></header>


    <ion-card>
        <ion-card-header style="background:#E44F26">
            <ion-row>
                <ion-col col-4></ion-col>
                <ion-col col-4>
                    <h2 id="h2">Fiche Contrat </h2>
                </ion-col>
                <ion-col col-2></ion-col>
                <ion-col col-2> <img (click)="presentMenu($event)" src="assets/detilproduit/menu.svg " end /></ion-col>
            </ion-row>
        </ion-card-header>
        <ion-card-content>
            <ion-item>

                <ion-avatar>

                    <img *ngIf="days > 0" src="{{photo}}" id="img">
                    <img *ngIf="days < 0" src="{{photo}}" id="img0">

                </ion-avatar>
            </ion-item>
        </ion-card-content>
        <div>
            <b>
                      <p class="p">{{type}}</p>
                    <p class="p">{{decheance}}</p>
                    
                  </b>
        </div><br>
        <ion-row>
            <button ion-button id="btn-voir" round (click)="GoToPhotos()">Voir le contrat</button>
        </ion-row>
        <ion-row>
            <br>
        </ion-row>
        <br>
    </ion-card>
    <img (click)="pop()" src="assets/detilproduit/left.png" style=" width: 15%; margin-top: 17px; margin-bottom: -8px;
      " class="imgAction">




</ion-content>