page-ajouter-produit {
    #divi {
        margin: auto;
        width: 70%;
        text-align: center;
        margin-bottom: 5%;
    }
    .cont {
        margin-top: 10%;
        margin-bottom: 10%;
    }
}