<!--
  Generated template for the DetailProduitPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content padding style="background: #E8E7E3">
    <header [text]="'Mes PRODUITS'"></header>


    <ion-card>
        <ion-card-header style="background:#E44F26">
            <ion-row>
                <ion-col col-4></ion-col>
                <ion-col col-4>
                    <h2 id="h2">{{nom}} </h2>
                </ion-col>
                <ion-col col-2></ion-col>
                <ion-col col-2> <img (click)="presentMenu($event,prodID,enseigne,marque,nom,dachat,garantie,photo,facture,dfin,sav)" src="assets/detilproduit/menu.svg " end /></ion-col>
            </ion-row>
        </ion-card-header>
        <ion-card-content>
            <ion-item>
                <div class="tri"></div>
                <b> <span class="nbMois" > {{garantie}} Mois</span></b>
                <ion-avatar>

                    <img *ngIf="days > 0" src="{{photo}}" id="img">
                    <img *ngIf="days < 0" src="{{photo}}" id="img0">

                </ion-avatar>
            </ion-item>
        </ion-card-content>
        <div>
            <b>
                    <p class="p">{{dachat}}</p>
                    <p class="p">{{enseigne}}</p>
                  </b>
        </div><br>
        <ion-row>
            <button ion-button id="btn-voir" round (click)="Pic(facture)">Voir facture</button>
        </ion-row>
        <ion-row>
            <br>
        </ion-row>
        <ion-row>
            <ion-col col-4 class="ColPre">
                <img src="assets/detilproduit/phone.svg" class="imgAction">
                <p id="p">SAV</p>
            </ion-col>

            <ion-col col-4 class="ColPre">
                <img src="assets/detilproduit/notise.svg" class="imgAction">
                <p id="p">Notice</p>
            </ion-col>

            <ion-col col-4 class="ColPre">
                <img (click)="DeposerAnnonce()" src="assets/detilproduit/euro.svg" class="imgAction">
                <p id="p">Vendre</p>
            </ion-col>
        </ion-row><br>
    </ion-card>
    <img (click)="pop()" src="assets/detilproduit/left.png" style=" width: 15%; margin-top: 17px; margin-bottom: -8px;
      " class="imgAction">




</ion-content>